table, td {
	border: 1px solid black;
}

td {
	padding: 10px;
	border-radius: 5px;
}

th {
	background-color: navy;
	color: white;
}

h1 {
  font-family: 'Tangerine', serif;
  font-weight: bolder;
  color: #F44336;
}

body {
	opacity: 0.8;
	background-color: #F3E5F5;
	font-family: Verdana, serif, sans-serif;
	font-weight: bold;
}

#storePage {
background-image: url("image/family.jpg");
background-repeat: no-repeat;
background-size: contain;
background-position: bottom;

}

#salmon {
    padding-left: 0%;
    padding-bottom: 10%;
    width: auto;
    height: auto;
    opacity: 0.9;
}

#store {
  position: relative;
  background: #5C97FF;
  overflow: hidden;
  font-family: 'Tangerine', serif;
  font-weight: bolder;
  font-size: 50px;
  color: #F44336;
  float: top-right;
  max-width: 750px;
  height: 0 auto;
  margin-left: 400px;
  border: 5px solid black;
  border-radius: 250px;
  background-color: #F0F4C3;
  text-align: center;
}

#storeloc {
  font-family: Georgia, Times, sans-serif;
  float: top-center;
  font-weight: bolder;
  font-size: 10px;
  color: #E57373;
  background-color: #FFB74D;
  max-width: 25%;
	padding-right: 30px;
	height: auto;
  border: 1px solid white;
  border-radius: 15px;
}

#footer {
  font-weight: lighter;
  font-size: 15px;
  color: #E0F7FA;
  float: center;
  max-width: 1000px;
  height: 0 auto;
  margin: 5px;
  border: 5px solid black;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #0097A7;
  text-align: center;
	font-family: Verdana, serif, sans-serif;
	font-weight: bold;
}

#sales {
  font-family: Georgia, Times, sans-serif;
  float: top-center;
  color: blue;
  font-weight: bolder;
  font-size: 10px;
  color: #E57373;
}

#projected {
  font-family: Courier, Times, serif;
  font-size: 26px;
  font-weight: bold;
  color: blue;
}

#locationjs {
	font-family: Helvetica, sans-serif, serif;
	color: blue;
}

.render {
   font-family: Verdana, serif, sans-serif;
   font-weight: bold;
}

#aboutUsOne {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: bolder;
	color: black;
	background-color: grey;
	column-count: 2;
  column-gap: 0.2em;
  margin-bottom: 2px;
	height: auto;
}

#aboutUsTwo {
	font-family: 'Alegreya Sans', sans-serif;
  color: black;
  background-color: grey;
  column-count: 2;
  column-gap: 0.2em;
  margin-top: 1%;
	padding-left: 10%;
	height: auto;
 }

#aboutUsThree {
 	font-family: 'Alegreya Sans', sans-serif;
 	font-weight: bolder;
 	color: black;
 	background-color: grey;
 	column-count: 2;
 	column-gap: 0.2em;
 	margin-top: 1%;
	height: auto;
 }

#aboutUsFour {
	font-family: 'Alegreya Sans', sans-serif;
	color: black;
	background-color: grey;
	column-count: 3;
	column-gap: 0.1em;
	margin-top: 1%;
	padding-top: 5%;
	padding-left: 10%;
	height: auto;
}

.mission{
	padding-top: 5%;
	padding-right: 25%;
	padding-bottom: 2%;
}

.chinook{
	padding-left: 15%;
	max-height: 265px;
	text-align: center-left;
}

.frosted{
	padding-top: 5%;
	padding-right: 25%;
}

.retail{
	padding-top: 45%;
	padding-left: 15%;
	max-height: 245px;
	text-align: center-left;
}
