
h1 {
  font-family: 'Tangerine', serif;
  font-weight: bolder;
  color: #F44336;
}

h2 {
  font-family: 'Tangerine', serif;
  font-weight: bolder;
}

#store {
  font-family: 'Tangerine', serif;
  font-weight: bolder;
  font-size: 50px;
  color: #F44336;
  float: top-center;
  max-width: 750px;
  height: 0 auto;
  padding: 5px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #F0F4C3;
  text-align: center;
}

img {
  padding-bottom: 5px;
  max-width: 750px;
  max-height: 350px;
  margin-left: 20%;
  margin-bottom: 5%;
}

#footer {
  font-weight: lighter;;
  font-size: 15px;
  color: #E0F7FA;
  float: center;
  max-width: 1000px;
  height: 0 auto;
  padding: 5px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #0097A7;
  text-align: center;
}

#firstPike {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  color: #D50000;
}

#seaTac {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  color: #E53935;
}

#seattleCenter {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  color: #EF5350;
}

#capitalHill {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  color: #E57373;
}

#alki {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  color: #EF9A9A;
}

.render {
   font-family: Verdana, serif, sans-serif;
   font-weight: bold;
   color:
}

p {
font-family: Helvetica, sans-serif, serif;
color: #B2DFDB;
}

body {
  background-color: #F3E5F5;
}
